$lightblue: #25dfe6;
$darkgrey: #707070;
$lightgrey: #b8b8b8;

body {
    background-color: white; 
    padding: 2% 10%;
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    border: 1px solid $lightgrey;
    color: $darkgrey;
    text-transform: uppercase;
    padding: 2.5rem 2rem;
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: white; 
    padding: 2% 10%;
    font-family: Arial, Helvetica, sans-serif;

}

.buttons a {
    font-size: 100%; 
    width: 30%;
    height: 20%;
    color: $darkgrey;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid $lightgrey;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
}

.inactiveBtn {
    background-color: rgb(239, 239, 239);
}

.activeBtn{
    color: white;
    background-color: $lightblue;
    border: 2px solid $lightblue
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.article {
    border: 1px solid $lightgrey;
    border-top: 5px solid $lightblue;
    padding: 1rem 2rem;
    color: $darkgrey;
    font-size: 20px;
}

.article a{
    color: $lightblue;
}